Repository linkerd/website, pull requests merged in 2019-04, with the labels that each got.

#240 Adding redirect for linkerd.io/upgrade
  linkerd.io/static/upgrade/index.html
Labels: area/upgrade

#247 Blog post on integration test
  linkerd.io/content/blog/browser-testing-from-scratch-building-quick-and-easy-integration-tests-with-webdriverio-and-saucelabs.md
  linkerd.io/data/authors.json
  linkerd.io/layouts/shortcodes/fig.html
  linkerd.io/static/uploads/2019/04/happy-tweet.png
  linkerd.io/static/uploads/2019/04/linkerd-dashboard-screenshot.png
  linkerd.io/static/uploads/2019/04/saucelabs-dashboard-screenshot.png
  linkerd.io/static/uploads/2019/04/saucelabs-logo.png
  linkerd.io/static/uploads/2019/04/terminal-message.png
  linkerd.io/static/uploads/2019/04/webdriverio-logo.png
  linkerd.io/static/uploads/linkerd-dashboard.png
Labels: area/blog

#236 2.3 - Docs for proxy configurations and first upgrade
  linkerd.io/content/2/reference/cli/install-cni.md
  linkerd.io/content/2/reference/cli/metrics.md
  linkerd.io/content/2/reference/cli/upgrade.md
  linkerd.io/content/2/reference/proxy-configuration.md
  linkerd.io/content/2/reference/proxy-log-level.md
  linkerd.io/content/2/tasks/automating-injection.md
  linkerd.io/content/2/tasks/modifying-proxy-log-level.md
  linkerd.io/content/2/tasks/upgrade.md
  linkerd.io/data/cli.yaml
  linkerd.io/layouts/partials/cli/annotations.html
  linkerd.io/layouts/shortcodes/cli/annotations.html
Labels: priority/P0

#274 Update CNI docs to reflect config-based install
  linkerd.io/content/2/features/cni.md
Labels: docs, priority/P0

#285 Add troubleshooting sections for multi-stage check
  linkerd.io/content/2/tasks/troubleshooting.md
Labels: area/troubleshooting, docs

#286 Add docs for upgrading via manifests
  linkerd.io/content/2/tasks/upgrade.md
Labels: docs
